.center {
    text-align: center;
    display:block;
}
#desc {
    background-color: #333;
    color: white;
    margin: 100px 400px;
    padding: 100px 200px;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 60px;
    box-shadow: 0 10px 10px #111;
}